<header>
  <nav class="header-nav"> 
    <a class="header-title" href="/">TSF Stock</a>
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">Add New Author</a></li>
      <li><a href="/items">Products</a></li>
      <li><a href="/items/new">Add New Product</a></li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </nav>
</header>