:root { 
    --color-base-hue: 200;
    --color-danger-hue-offset: 180;
    --color-danger-hue: calc(var(--color-base-hue) - var(--color-danger-hue-offset));
    --color-background-dark: white;
    --color-background-light: white;
    --color-text-light: gray;
  }