<h2 class="page-header">Search Album</h2>
<form action="/items" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Product Code</label>
      <input type="number" name="product_code" value="<%= searchOptions.product_code %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Product Name</label>
      <input type="text" name="product_name" value="<%= searchOptions.product_name %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<%- include('../partials/bookGrid', { items: items, large: true }) %>